<div>
  <h5>Bladder Management</h5>

  <%= form.fields_for bladder_management do |bladder| %>

    <p>Spinal cord injury typically affects the way your urinary system works, requiring a management routine that may involve a variety of techniques and supplies.</p>

    <div class="subsection">
      <div class="row">
        <h5 class="subsection-title">Bladder Routine Details</h5>
      </div>


      <div class="row">
        <p class="col-12">Does your spinal cord injury affect your urinary function?</p>
      </div>
      <%= bladder.hidden_field :response, value: "unsure", id: "bladder-response" %>
      <input type="radio" name="bladder_question" value="yes"> Yes
      <input type="radio" name="bladder_question" value="no"> No
      <input type="radio" name="bladder_question" value="unsure" checked> I'm not sure

      <div id="bladder-answer" class="row">

        <div id="bladder-routine" class="col-12" style="display: none;">

          <div class="form-row">
            <p>What does your bladder management routine typically involve?</p>
          </div>

          <div class="form-check">
            <%= bladder.check_box :indwelling_catheter, class: "form-check-input", id: "bladder-checkIndwellingCatheter" %>
            <%= bladder.label "Indwelling catheter and collection bag", class: "form-check-label", for: "bladder-checkIndwellingCatheter" %>
          </div>

          <div class="form-check">
            <%= bladder.check_box :condom_catheter, class: "form-check-input", id: "bladder-checkCondomCatheter" %>
            <%= bladder.label "Condom (external) catheter and collection bag", class: "form-check-label", for: "bladder-checkCondomCatheter" %>
          </div>

          <div class="form-check">
            <%= bladder.check_box :suprapubic_catheter, class: "form-check-input", id: "bladder-checkSuprapubicCatheter" %>
            <%= bladder.label "Suprapubic catheter and collection bag", class: "form-check-label", for: "bladder-checkSuprapubicCatheter" %>
          </div>

          <div class="form-check">
            <%= bladder.check_box :intermittent_catheterization_urethra, class: "form-check-input", id: "bladder-checkIntermittentCatheterizationUrethra" %>
            <%= bladder.label "Intermittent catheterization (in and out) through my urethra", class: "form-check-label", for: "bladder-checkIntermittentCatheterizationUrethra" %>
          </div>

          <div class="form-check">
            <%= bladder.check_box :intermittent_catheterization_stoma, class: "form-check-input", id: "bladder-checkIntermittentCatheterizationStoma" %>
            <%= bladder.label "Intermittent catheterization (in and out) through an abdominal stoma (mitrofanoff)", class: "form-check-label", for: "bladder-checkIntermittentCatheterizationStoma" %>
          </div>

          <div class="form-check">
            <%= bladder.check_box :ileal_conduit, class: "form-check-input", id: "bladder-checkIlealConduit" %>
            <%= bladder.label "Ileal conduit/urostomy and collection bag", class: "form-check-label", for: "bladder-checkIlealConduit" %>
          </div>

          <div class="form-check">
            <%= bladder.check_box :other, class: "form-check-input", id: "bladder-checkOther" %>
            <%= bladder.label "Other", class: "form-check-label", for: "bladder-checkOther" %>
          </div>

          <div id="bladder-other-details" style="display: none;">
            <p>If you answered "other," you can add details here:</p>
            <%= bladder.text_field :other_details, class: "form-control" %>
          </div>

        </div>

        <div id="bladder-details">
          <p>Do you want to provide more information?</p>
          <%= bladder.text_field :details, class: "form-control" %>
        </div>

      </div>

    </div>


    <div class="actions" hidden>
      <%= bladder.submit %>
    </div>
  <% end %>
</div>

<%= javascript_pack_tag 'bladder_managements/form' %>


