<div class="row title">
  <div class="col-md-12">
    <h1>Bladder Managements</h1>
  </div>
</div>

<div class="row title">
  <div class="col-md-1">Response
  </div>
  <div class="col-md-1">Ind. Cath.
  </div>
  <div class="col-md-1">C. Cath.
  </div>
  <div class="col-md-1">S. Cath.
  </div>
  <div class="col-md-1">Int. Cath: Urethra
  </div>
  <div class="col-md-1">Int. Cath: Stoma
  </div>  
  <div class="col-md-1">Il. Conduit
  </div>    
  <div class="col-md-1">Other
  </div>      
  <div class="col-md-2">Details
  </div>    
  <div class="col-md-2">Actions
  </div>      
</div>

<% @bladder_managements.each do |bladder_management| %>
  <div class="row">
    <div class="col-md-1"><%= bladder_management.response %>
    </div>
    <div class="col-md-1"><%= bladder_management.indwelling_catheter %>
    </div>
    <div class="col-md-1"><%= bladder_management.condom_catheter %>
    </div>
    <div class="col-md-1"><%= bladder_management.suprapubic_catheter %>
    </div>
    <div class="col-md-1"><%= bladder_management.intermittent_catheterization_urethra %>
    </div>
    <div class="col-md-1"><%= bladder_management.intermittent_catheterization_stoma %>
    </div>
    <div class="col-md-1"><%= bladder_management.ileal_conduit %>
    </div>
    <div class="col-md-1"><%= bladder_management.other %>
    </div>  
    <div class="col-md-2"><%= bladder_management.other_details %>
    </div>    
    <div class="col-md-2"><%= link_to 'Show', bladder_management %> | <%= link_to 'Destroy', bladder_management, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>      
  </div>
<% end %>

