<div class="row title">
  <div class="col-md-12">
    <p>
      <strong>Response:</strong>
      <%= @bladder_management.response %>
    </p>

    <p>
      <strong>Indwelling catheter:</strong>
      <%= @bladder_management.indwelling_catheter %>
    </p>

    <p>
      <strong>Condom catheter:</strong>
      <%= @bladder_management.condom_catheter %>
    </p>

    <p>
      <strong>Suprapubic catheter:</strong>
      <%= @bladder_management.suprapubic_catheter %>
    </p>

    <p>
      <strong>Intermittent catheterization urethra:</strong>
      <%= @bladder_management.intermittent_catheterization_urethra %>
    </p>

    <p>
      <strong>Intermittent catheterization stoma:</strong>
      <%= @bladder_management.intermittent_catheterization_stoma %>
    </p>

    <p>
      <strong>Ileal conduit:</strong>
      <%= @bladder_management.ileal_conduit %>
    </p>

    <p>
      <strong>Other:</strong>
      <%= @bladder_management.other %>
    </p>

    <p>
      <strong>Other details:</strong>
      <%= @bladder_management.other_details %>
    </p>

    <%= link_to 'Back', bladder_managements_path %>
  </div>
</div>