<div>
  <h5>Basic Information</h5>

  <%= form.fields_for basic_information do |bi| %>
    <div class="subsection">
      <div class="row">
        <h5 class="subsection-title">About Me</h5>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= bi.label :first_name %>
          <%= bi.text_field :first_name, class: "form-control" %>
        </div>
        <div class="form-group col-md-6">
          <%= bi.label :last_name %>
          <%= bi.text_field :last_name, class: "form-control" %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= bi.label :email %>
          <%= bi.email_field :email, class: "form-control" %>
        </div>
        <div class="form-group col-md-6">
          <%= bi.label "Typical Blood Pressure" %>
          <%= bi.text_field :bp, class: "form-control" %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <%= bi.label :height %>
          <%= bi.text_field :height, class: "form-control" %>
        </div>
        <div class="form-group col-md-6">
          <%= bi.label :weight %>
          <%= bi.text_field :weight, class: "form-control" %>
        </div>
      </div>

      <div class="form-row">
        <div class="input-group mb-3">
          <%= bi.text_field :dob, class: "form-control datepicker", placeholder: "Date of birth", autocomplete: "off" %>
        </div>
      </div>

    </div>

    <div class="actions" hidden>
      <%= bi.submit %>
    </div>
  <% end %>
</div>

<%= javascript_pack_tag 'basic_informations/form' %>
