<div class="row title">
  <div class="col-md-12">
    <h1>Basic Informations</h1>
  </div>
</div>

<div class="row title">
  <div class="col-md-2">F Name
  </div>
  <div class="col-md-2">L Name
  </div>
  <div class="col-md-2">Email
  </div>
  <div class="col-md-1">BP
  </div>
  <div class="col-md-1">Height
  </div>
  <div class="col-md-1">Weight
  </div>  
  <div class="col-md-1">DOB
  </div>    
  <div class="col-md-2">Actions
  </div>      
</div>

<% @basic_informations.each do |basic_information| %>
  <div class="row">
    <div class="col-md-2"><%= basic_information.first_name %>
    </div>
    <div class="col-md-2"><%= basic_information.last_name %>
    </div>
    <div class="col-md-2"><%= basic_information.email %>
    </div>
    <div class="col-md-1"><%= basic_information.bp %>
    </div>
    <div class="col-md-1"><%= basic_information.height %>
    </div>
    <div class="col-md-1"><%= basic_information.weight %>
    </div>  
    <div class="col-md-1"><%= basic_information.dob %>
    </div>    
    <div class="col-md-2"><%= link_to 'Show', basic_information %> | <%= link_to 'Destroy', basic_information, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>      
  </div>
<% end %>


