<div class="row title">
  <div class="col-md-12">
    <p>
      <strong>First name:</strong>
      <%= @basic_information.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @basic_information.last_name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @basic_information.email %>
    </p>

    <p>
      <strong>Bp:</strong>
      <%= @basic_information.bp %>
    </p>

    <p>
      <strong>Height:</strong>
      <%= @basic_information.height %>
    </p>

    <p>
      <strong>Weight:</strong>
      <%= @basic_information.weight %>
    </p>

    <p>
      <strong>Dob:</strong>
      <%= @basic_information.dob %>
    </p>

    <%= link_to 'Back', basic_informations_path %>

  </div>
</div>