@import 'utilities/variables';

.navbar {
  background-color: $scinu-emr-color;
  padding: 0;

}

.nav-link {
  font-weight: bolder;
  font-size: 16px;
}

.nav-link:hover, #header-logo:hover {
    background-color: $scinu-emr-color-light;
    color: $scinu-emr-color-light;
}
