<div class="container">
  <h1>About</h1>
  <p>This project was initiated in response to the COVID-19 pandemic, to support people living with SCI who need to be admitted to hospital.</p>
  <h2>What You Get</h2>
  <div class="col-12">
    <%= image_tag('SAAGEInfographic1.png', id:'infographic-1') %>
  </div>
  <h2>Team</h2>
  <p>Developed by the SCI+U team, based in the University of Toronto's Physical Therapy department. Funding provided by the Praxis Spinal Cord Institute.</p>
  <h2>Methods</h2>
  <p>Developed during the summer of 2020 using an agile process with user feedback ...</p>
  <h2>Open Source</h2>
  <p>All intellectual properties ...</p>
  <p>Merry xMas!!!</p>
 
</div>
