<div class="container">
  <h1>How To Use</h1>
  <p>You can create a personal care plan with information about your self-management routines. This may be useful if you are admitted to hospital.</p>
  <h4>Enter your information</h4>
  <p>Enter information that is relevant to your situation using the care plan form.</p>
  <h4>Share with your care team</h4>
  <p>Share your information with health care providers and members of your care team.</p>
  <p><%= image_tag('SAAGEInfographic2.png', id:'infographic-2') %></p> 
  <h4>Delete your information</h4>
  <p>Permanently delete your information.</p>
  <h4>Security and Privacy</h4>
  <p>

    </p>
  </div>
