<div class="container">
  <h1 class="row col-12">My Health Care Plan</h1>
  <h5>Enter information about your self-management routines and other needs</h5>

  <div class="row">
    <%= link_to "Enter My Plan", new_saage_form_path, class: "btn btn-success col-12 col-centered" %>
  </div>
  <div class="space">

  </div>
  <h2>Share Information</h2>
  <h5>Share your information with health care providers and members of your care team</h5>
  <div class="row">
    <%= link_to "Share My Plan", "", class: "btn btn-success col-12 col-centered disabled" %>
  </div>

  <div class="space">

  </div>
  <h2>Delete Information</h2>
  <h5>Permanently delete your information or account</h5>
  <div class="row">
    <%= link_to "Delete", "", class: "btn btn-danger col-12 col-centered" %>
  </div>
</div>
