<%= form_for saage_form do |form| %>
  <ul class="pagination">
    <li class="page-item active" aria-current="page" id="page-1"><a class="page-link" href="javascript:void(0)">1</a></li>
    <li class="page-item" id="page-2"><a class="page-link" href="javascript:void(0)">2</a></li>
    <!--
    <li class="page-item" id="page-3"><a class="page-link" href="javascript:void(0)">3</a></li>
    <li class="page-item" id="page-4"><a class="page-link" href="javascript:void(0)">4</a></li>
    <li class="page-item" id="page-5"><a class="page-link" href="javascript:void(0)">5</a></li>
    <li class="page-item" id="page-6"><a class="page-link" href="javascript:void(0)">6</a></li>
    <li class="page-item" id="page-7"><a class="page-link" href="javascript:void(0)">7</a></li>
    <li class="page-item" id="page-8"><a class="page-link" href="javascript:void(0)">8</a></li>
    -->
  </ul>

  <div class="sections" id="section-page-1"><%= render 'basic_informations/form', form: form, basic_information: :basic_information %></div>
  <div class="sections" id="section-page-2"><%= render 'bladder_managements/form', form: form, bladder_management: :bladder_management %></div>

  <div><%= form.submit "Submit Form", class: "actions btn btn-primary" %></div>
<% end %>

<%= javascript_pack_tag 'saage_forms/form' %>

