<div class="container">

  <div class="row col-12">
    <h3 id="title">Spinal Cord Injury:</h3>
  </div>
  <div class="row col-12">
    <h3 id="subtitle">My Self-Care Information</h3>
  </div>

  <%= render 'form', saage_form: @saage_form %>
</div>

<div class="d-flex justify-content-center">
	<button type="button" class="btn btn-primary">
		<%= link_to 'Back', my_care_plan_path %>
	</button>
</div>