
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */
@import 'utilities/variables';

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

.col-centered {
    float: none;
    margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
}

button a {
  color: $scinu-emr-color-white;  
}

//Saage Form CSS
#logo {
   max-height: 60px;
   width: auto;
 }

#title {
  font-size: 23px;
  color: $scinu-emr-color;
}

#subtitle {
  font-weight: bold;
  font-size: 23px;
  color: $scinu-emr-color;
}

.row {
  padding: 10px;
}

.title {
  font-weight: bold;
  font-size: 23px;
  color: $scinu-emr-color;
}

#header-container {
  padding-bottom: 20px;
}

.subsection {
  border-color: black;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.subsection-title {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -15px;
  background-color: white;
}

#infographic-1, #infographic-2 {
  max-width: 100%;
}
