<nav class="navbar navbar-expand-lg navbar-dark">
  <%= link_to image_tag("SAAGElogo.png", id: 'logo', class: "navbar-brand"), root_path, id: "header-logo" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item"><%= link_to "My care plan", my_care_plan_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "How to use", how_to_use_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
    </ul>
  </div>
</nav>
